{% extends 'base.html.twig' %}

{% block body_class %}page-login{% endblock %}

{% block title %}Connexion{% endblock %}

{% block page_stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/login.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
{% endblock %}

{% block body %}
    <header class="main-header">
    <div class="header-content">
        <div class="header-left">
            <a href="#" class="logo">
                <span class="logo-e">E-</span><span class="logo-discount">Discount</span>
            </a>
            <nav class="main-nav">
                <a href="{{ path('home') }}">Accueil</a>
                <a href="{{ path('items') }}">Articles</a>
                <a href="{{ path('additems') }}">Vendres</a>
            </nav>
        </div>
        <div class="header-right">
            <a href="{{ path('cart') }}" class="cart-icon">
                <i class="fas fa-shopping-cart"></i>
            </a>
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('app_profile') }}" class="user-icon">
                    <i class="fas fa-user"></i>
                </a>
            {% else %}
                <a href="{{ path('app_login') }}" class="user-icon">
                    <i class="fas fa-user"></i>
                </a>
            {% endif %}
        </div>
    </div>
</header>
    
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form method="post">
                <h1>Connexion</h1>
                
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}         
                <input type="email" value="{{ last_username }}" name="_username" id="username" required autofocus placeholder="Email">
                <input type="password" name="_password" id="password" required placeholder="Mot de passe">
                
                <a href="#">Mot de passe oublié ?</a>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                
                <button type="submit">Connexion</button>
            </form>
        </div>
        
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Bonjour !</h1>
                    <p>Entrez vos informations personnelles et commencez votre voyage avec nous</p>
                    <a href="{{ path('app_register') }}" class="ghost">S'inscrire</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
