{% extends 'base.html.twig' %}

{% block title %}Vendre un article - E-Discount{% endblock %}

{% block page_stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/additem.css') }}">
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}

    <div class="main-content">
        <h1>Vendre un article</h1>

        {{ form_start(form) }}
        <div class="titlecard">
            <h2>Photos du produit</h2>
        </div>
        <label class="dotted-box">
            {{ form_widget(form.image, {'attr': {'class': 'file-input'}}) }}
            <img id="preview-image" src="{{ asset('image/upload.png') }}" class="upload-image">
            <h3 class="upload-text">Télécharger une Image</h3>
            <h4 class="upload-text">PNG, JPG jusqu'à 10MB</h4>
        </label>

        <div class="form-group">
            <label class="inputLabel">{{ form_label(form.name) }}</label>
            <div class="inputContainer">
                {{ form_widget(form.name, {'attr': {'class': 'customInput', 'placeholder': ''}}) }}
                <div class="inputUnderline"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="inputLabel">{{ form_label(form.class) }}</label>
            <div class="inputContainer">
                {{ form_widget(form.class, {'attr': {'class': 'customInput', 'placeholder': ''}}) }}
                <div class="inputUnderline"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="inputLabel">{{ form_label(form.price) }}</label>
            <div class="inputContainer">
                {{ form_widget(form.price, {'attr': {'class': 'customInput', 'placeholder': ''}}) }}
                <div class="inputUnderline"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="inputLabel">{{ form_label(form.description) }}</label>
            <div class="inputContainer">
                {{ form_widget(form.description, {'attr': {'class': 'customInput', 'placeholder': ''}}) }}
                <div class="inputUnderline"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="inputLabel">{{ form_label(form.mainfeatures) }}</label>
            <div class="inputContainer">
                {{ form_widget(form.mainfeatures, {'attr': {'class': 'customInput', 'placeholder': ''}}) }}
                <div class="inputUnderline"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="inputLabel">{{ form_label(form.quantity) }}</label>
            <div class="inputContainer">
                {{ form_widget(form.quantity, {'attr': {'class': 'customInput', 'placeholder': ''}}) }}
                <div class="inputUnderline"></div>
            </div>
        </div>

        <button type="submit" class="btn">Publier l'annonce</button>
        {{ form_end(form) }}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const fileInput = document.querySelector('.file-input');
            const previewImage = document.getElementById('preview-image');
            const uploadTexts = document.querySelectorAll('.upload-text');

            fileInput.addEventListener('change', function(e) {
                const file = e.target.files[0];
                if (file) {
                    const reader = new FileReader();
                    
                    reader.onload = function(e) {
                        previewImage.src = e.target.result;
                        previewImage.classList.add('preview-active');
                        uploadTexts.forEach(text => text.style.display = 'none');
                    }
                    
                    reader.readAsDataURL(file);
                } else {
                    previewImage.src = "{{ asset('image/upload.png') }}";
                    previewImage.classList.remove('preview-active');
                    uploadTexts.forEach(text => text.style.display = 'block');
                }
            });
        });
    </script>
{% endblock %}